<div class="container">
  <div class="title-container" fxLayout="row"  fxLayoutAlign="center end">
    <h1 class="mat-display-1">
      Discussions
    </h1>
    <button mat-raised-button color="primary" style="margin: 0 0 1% 50%" routerLink="/create" >
      <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      Create
    </button>
  </div>

  <mat-divider></mat-divider>
  <mat-list *ngFor="let discussion of discussions">
    <mat-list-item fxLayoutAlign="center">
      <app-discussion-board [discussion]="discussion"></app-discussion-board>
    </mat-list-item>
  </mat-list>
</div>