<mat-toolbar class="mat-elevation-z6 nav" color="primary">
  <div class="title">
    <h1>Dashboard</h1>
  </div>
  <div class="menu">
    <button class="logoutBtn" mat-button routerLinkActive="active" (click)="logout()">
      Logout
    </button>
  </div>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <a class="sectionTitle" routerLink="/invites">Invites</a>
    <mat-divider></mat-divider>
    <a class="sectionTitle" routerLink="/discussions">Discussions</a>
    <mat-divider></mat-divider>
    <a class="sectionTitle" routerLink="/groups">Interest Groups</a>
    <mat-divider></mat-divider> 
    <a class="sectionTitle" routerLink="/createPrivateDiscussion">Create Private Discussion</a>
    <mat-divider></mat-divider>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>