<div  fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="card" fxFlex>
    <mat-card-title>
      Register
    </mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field class="full-width">
            <mat-label>First Name</mat-label>
            <input matInput [(ngModel)]="firstName" name="firstName" placeholder="First Name">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Last Name</mat-label>
          <input matInput [(ngModel)]="lastName" name="lastName" placeholder="Last Name">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="email" name="email" placeholder="Email">
        </mat-form-field>
  
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]="pwd" name="password" placeholder="Password">
        </mat-form-field>
  
        <button mat-raised-button (click)="signup()" color="primary">Sign Up</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="sign-up-card"  fxLayoutAlign="center center" >
    <button  mat-flat-button (click)="login()" >
      <fa-icon [icon]="['fas', 'sign-in-alt']" size="lg"></fa-icon>
      Already a user? Login here
  </button>
  </mat-card>
</div>