<div class="container">
  <div class="title-container" fxLayout="column" fxLayoutAlign="space-evenly center">
    <h1 class="mat-display-1">
      Create Discussion
    </h1>

  </div>
  <mat-divider></mat-divider>
  <div fxLayoutAlign="space-evenly center">
      <mat-card style="margin-top:3%;">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Title" #title>
            </mat-form-field>
      
            <mat-form-field class="example-full-width">
              <textarea rows="5" matInput placeholder="Content" #content></textarea>
            </mat-form-field>
          </form>
        </mat-card>
  </div>
 
  <div class="wrapper" fxLayout="column" fxLayoutAlign="space-evenly center">
    <button mat-raised-button color="primary" (click)="createDiscussion(title.value, content.value)" style="width:50%;" routerLink="/home">
      <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      Create
    </button>
  </div>
  