<div class="container">
  <div class="title-container" fxLayout="row" fxLayoutAlign="center end">
    <h1 class="mat-display-1">
      Discussions
    </h1>
    <button mat-raised-button color="primary" style="margin: 0 0 1% 50%" routerLink="/create">
      <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      Create
    </button>
  </div>

  <mat-divider style="margin-bottom: 2%"></mat-divider>
  <mat-form-field style="width:100%;">
    <input matInput #searchTerm (keyup)="searchBoards(searchTerm.value)" placeholder="Search for a Discussion"
      style="width: 100%;">
  </mat-form-field>

  <div *ngIf="searchedDiscussions">
    <mat-list *ngFor="let discussion of searchedDiscussions">
      <mat-card>
        {{discussion.Title}}
      </mat-card>
    </mat-list>
  </div>

  <div *ngIf="!searchedDiscussions">
    <mat-list *ngFor="let discussion of discussions">
      <mat-card [routerLink]="['/discussion', discussion.ID]">
        {{discussion.Title}}
      </mat-card>
    </mat-list>
  </div>
 
</div>